.user_facts_wrapper{

    background-color: ghostwhite;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    display: table;
    

}

.api_wrapper .cell{
    padding: 10px;
}

.user_facts_wrapper .col{

    padding: 5px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
    text-align: center;
    display: table-cell;
    width: auto;

}

.col .cat_crud_wrapper{
    text-align: left;
}
    
.column_name{
    padding: 10px;

}


#categories_list .line{
    display: table;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 15px;
    width: 95%;
    margin: 5px;
}

#categories_list .line .category_name{
    display: table-cell;
    padding: 10px;
    float: left;
}

#facts_list .line{
    display: table;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 15px;
    width: 95%;
    margin: 5px;

}

#facts_list .line .fact_name{
    display: table-cell;
    padding: 10px;
    float: left;

}



#categories_list .line .actions{
    display: table-cell;
    padding: 10px;
    float: right;
}


.add_button_div{
    
    text-align: center;
}



.add_button{
    margin: 10px;
    border-radius: 5px;
    
}

.select_category{
    padding-bottom: 10px;
}


.fact_display{

    width: 90%;
    margin-left: 10px;
    height: 400px;
    border: 2px solid;
    border-radius: 5px;
    
}

.button_wrapper{

    padding: 20px;
}

.api_wrapper{

    background-color: ghostwhite;
    border-radius: 10px;
    padding: 5px;
    width: 90%;
    display: table;
    margin-bottom: 5px;
}