.add-student-wrapper{
    margin-bottom: 40px;
    
}

.message{
   
    font-size: large;
    background-color:aquamarine;
    border-radius: 10px;
    visibility: hidden;
    line-height: 50px;
    height: 50px;
    width: 60%;
    text-align: center;
    margin-left: 50px;
    margin-right: auto;
}


.table{
    width: 80%;
    font-size: large;
}

.table-row .number{
    width: 10px;
}

.table-row .name{
    width:100px;
}

.table-row .surname{
    width:100px;
}

.table-row .class_name{
    width:50;
}

.table-row .current_score{
    width:50px;
}

.table-row .action-btn{
    width: 60px;
}



.classes-list{
    display: table;
}

.class-link-row{
    display: table-row;
    
}
.counter-cell{
    display: table-cell;
    width: 30px;
    text-align: right;
    margin-right: 10px;
}

.cls-cell{    
    display: table-cell;
    width: 60px;
    text-align: right;
}