{% extends 'base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'base.css'%}">
<h2>What is a Merit System?</h2>


<div class="base-text">
A student has 100 points at the beginning of the academic year. Upon completion of a certain merit
action, a student receives points, and the opposite happens if the demerit action is commited.
This system is used to motivate students to actively participate in academic, sport and other 
activities of the school life. At the same time, it discourages students to misbehave. Depending on the school 
policy, a certain points thresholds exist for rewarding or punishing actions.  
</div>
{% endblock %}