.site-wrapper{
    background-color: #e3e3e3;
    display: grid;
    
   
    grid-template-areas:
        "header header"
        "sidebar content-wrapper"
        "footer-wrapper footer-wrapper";


    grid-template-rows: 2fr 11fr 2fr;
    /* height of the row is auto and 1 fraction */

    grid-template-columns: 2fr 8fr;
    grid-gap: 1px;

}