.main_row{
    display: table-row;
    width: 80%;
    letter-spacing: 0.5px;
    line-height: 26px;
    font-size: 18px;
}


.row{

    margin: 20px;
}

.row .error{

    color: red;
    font-size: 20;
    font-weight: 600;
}


.cell{
    width: 80%;
    display: table-cell;
    vertical-align: middle;
}

.cell .button{
    
    border: 1px solid;
    border-radius: 5px;

}

.cell .button:hover{

    background-color: azure;
}

.box{

    height: 50px;
    font-size: 20px;
}

.to_be_done {
    letter-spacing: 0.5px;
    line-height: 26px;
    font-size: 18px;
}

.error{

    float: right;
}