.row{
    display: table-row;
    width: 80%;
}


.cell{
    width: 80%;
    display: table-cell;
    vertical-align: middle;
}

.cell .button{
    
    border: 1px solid;
    border-radius: 5px;

}

.cell .button:hover{

    background-color: azure;
}

.box{

    height: 50px;
    font-size: 20px;
}