{% extends 'base.html'%}



{% block content %}

{% load static%}

<link rel="stylesheet" href="{% static '1_facts.css'%}">
<link rel="stylesheet" href="{% static 'css/main_css/base.css'%}">


<div class="facts-description">
    <div class="base-text">
        This app will display a ranodom fact about me. Press Give button and obtain a random fact.
        If you want you can select the specific category.Then, the received facts will be related
        to a selected category.
    </div>
</div>

<div class="facts-container">

    <div class="left-side">
        <label for="categories" >Select category and press the button</label>
        
        <select name="categories" id="options" onchange="getSelectValue()">
            <option value="random">Random</option>
            {% for cat in categories%}
            <option value="{{cat.id}}">{{cat}}</option>
            {% endfor%}
        </select>

        
            <div class="button" id="button_1">

                Give
                
            </div>
        
        
    </div>




    <div class="right-side">
        <div class="display-wrapper">

            <div id="facts-display"> </div>
                

            </p>

        </div>

    </div>

    

</div>

<script id="js_script" src="{% static '1_facts_main_page.js'%}" url = "{% url 'from_category' %}">
    
</script>






{% endblock %}