{% extends 'base.html'%}



{% block content %}

{% load static%}

<link rel="stylesheet" href="{% static '1_facts_main_page.css'%}">
<link rel="stylesheet" href="{% static 'css/main_css/base.css'%}">


<div class="facts-description">
    <div class="base-text">
        This app will display a random fact about me. Select a category and press 
        <span class="button">Give</span> button.<br> 
        
        {% if user.is_authenticated %}

           <span class="user_name"> {{user.name}}</span> , you can add your own facts by clicking 
           <a href="{% url 'user_facts_page' %}">Here</a> .
        
        {% else %}
        

        <span> 
                 You can 
           
           <span><a href="{%url 'register' %}">register</a> </span>  
                            
           to make your own page of facts.
        
        </span>

        {% endif %}
    </div>

    


</div>


<div class="facts-container">

    <div class="left-side">
        <label for="categories" >Select category and press the button</label>
        
        <select name="categories" id="options" onchange="getSelectValue()" multiple>
            <div><option value="random">Random</option></div>
            {% for cat in categories%}
            <div><option value="{{cat.id}}">{{cat}}</option></div>
            {% endfor%}
        </select>

        
    
        
            <div class="button" id="button_1">

                Give
                
            </div>
        
        
    </div>




    <div class="right-side">
        <div class="display-wrapper">

            <div id="facts-display"> </div>
                

            

        </div>

    </div>

    

</div>

<script id="js_script" src="{% static '1_facts_main_page.js'%}" url = "{% url 'from_category' %}"> 
    
</script>






{% endblock %}