{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static '2_user_facts_page.css' %}">

<div class="user_facts_wrapper">


    <div class="col">
        <div class="column_name">
            Manage Categories
        </div>
        <div class="cat_crud_wrapper">
            <form action="" id="add_category_form" method="POST">
                <input type="hidden" id="add_category_csrf" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                <label for="add_category">Add Category:</label> <input type="text" name="add_category">
                <button id="cat_add_btn" type="submit">Add</button>
            </form>

            <div id="categories_list">

            </div>

        </div>


    </div>


    <div class="col">
        <div class="column_name">
            Manage Facts
        </div>
        <div class="cat_crud_wrapper">
            <form action="" method="POST">
                {% csrf_token %}

                <label for="add_category">Add Category:</label> <input type="text" name="add_category">

            </form>

        </div>
    </div>

    <div class="col">
        <div class="column_name">
            Test Your Facts
        </div>
        <div class="cat_crud_wrapper">
            <form action="" method="POST">
                {% csrf_token %}

                <label for="add_category">Add Category</label> <input type="text" name="add_category">

            </form>

        </div>
    </div>



</div>

<script type="text/javascript">

    getCategories();


    async function EditToSave(line_id, edit_btn_id,) {
        let edit_btn = document.getElementById(edit_btn_id)
        let line = document.getElementById(line_id)

        let new_input =
            `
            <form>
                <input id="" name="" type="text" class="" value=${line.value}>
            </form>
        `
        console.log(new_input)




    }


    async function getCategories() {

        let url = '{% url "user_categories_fetch" %}?api_key_fetch={{api_key_fetch}}'

        document.getElementById('categories_list').innerHTML = ""

        fetch(url)
            .then((response) => response.json())
            .then(function (data) {
                let count = 1;

                for (let cat of data) {
                    var cat_item = `

                    <div class="line">

                        <div class="category_name"  >
                
                            <span id=count_${count}>${count})</span> 
                            <span id=${cat.category} name=${cat.category}>${cat.category}</span>
                
                        </div>
              
                        <div class='actions'>
                            <button id=edit_${cat.category}_btn  >Edit</button>           
                                
                            <button id=delete_${cat.category}_btn>Delete</button>
                
                        </div>
        
                    </div>`

                    
                    document.getElementById('categories_list').insertAdjacentHTML('beforeend', cat_item)
                    count += 1;

                    let edit_btn = document.getElementById(`edit_${cat.category}_btn`);

                    edit_btn.addEventListener('click', function(){

                        EditToSave( `${cat.category}`,`edit_${cat.category}_btn` )

                    })

                    

                }

            })

    }










</script>

{% endblock%}