{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static '2_user_facts_page.css' %}">

<div class="user_facts_wrapper">


    <div class="col">
        <div class="column_name">
            Manage Categories
        </div>
        <div class="cat_crud_wrapper">
            <form id="add_category_form" method="POST">
                <input type="hidden" id="add_category_csrf" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                
                <label for="add_category">Add Category:</label> 
                    <input id="add_category_input"type="text" name="add_category">
                
                <div class="add_button_div">
                    <button id="cat_add_btn" type="submit" class="add_button">Add Category</button> 
                </div>
           
            </form>


            <div id="categories_list">

            </div>

        </div>


    </div>



    <div class="col">
        <div class="column_name">
            Manage Facts
        </div>
        <div class="cat_crud_wrapper">
            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="select_category">Select category


                </div>

                <label for="add_category">Add Fact:</label> <input type="text" name="add_category">

            </form>

        </div>
    </div>

    <div class="col">
        <div class="column_name">
            Test Your Facts
        </div>
        <div class="cat_crud_wrapper">
            <form action="" method="POST">
                {% csrf_token %}

                <label for="add_category">Add Category</label> <input type="text" name="add_category">

            </form>

        </div>
    </div>



</div>

<script type="text/javascript">

    document.getElementById("add_category_form").addEventListener("submit",
        function(e){ 
            e.preventDefault();

            let new_category = document.getElementById('add_category_input').value;
            

        }
    
    )
    
    
    getCategories();


    async function SaveCatFetch(
                                input_id, 
                                old_cat_name, 
                                csrf_id,
                                ){

        let new_cat_fetch;
                
        let input_line = document.getElementById(input_id);
        let new_cat_name = input_line.value;
        let csrf = document.getElementById(csrf_id).value
        
        url = "{% url 'edit_category_fetch' %}";

        let body ={
                    'old_name':old_cat_name,
                    'new_name':new_cat_name,
                    'api_key_fetch':'{{api_key_fetch}}'
        }


        let r = await fetch(url,
        
            {
                method:'POST',
                headers: {
                            'Content-type':'application/json',
                            'Accept': 'application/json',
                            'X-CSRFToken': csrf
                        },
                
                body: JSON.stringify(body)
            }

        )

        return await r.json()
       

 
    }


    async function EditToSave(line_id, edit_btn_id,) {
        let edit_btn = document.getElementById(edit_btn_id)
        let line = document.getElementById(line_id)

        
        let new_input =
            `
            
                <input id="${line_id}_csrf" type="hidden" name="csrfmiddlewaretoken" value={{csrf_token}}>
                <input id="${line_id}_input" 
                       name="${line_id}_input" 
                       type="text" 
                       value=${line.textContent}>
            
            `
        
        let new_form_element = document.createElement('form');
        new_form_element.innerHTML = new_input;
        
        line.replaceWith(new_form_element)

        let save_btn = document.createElement('button');
        save_btn.id = `"${line_id}_save_btn"`;
        save_btn.innerHTML = "Save";

        edit_btn.replaceWith(save_btn);
        
        
        save_btn.addEventListener('click', function(){

            // let new_name_text = document.getElementById(`${line_id}_input`).value

            SaveCatFetch(`${line_id}_input`,line.textContent,`${line_id}_csrf`)
            .then( function(response){
                let new_name_text = response.message;
                        
            
                save_btn.replaceWith(edit_btn)
                new_form_element.replaceWith(line)
                line.textContent = new_name_text

            })


    })

}




    async function getCategories() {

        let url = '{% url "user_categories_fetch" %}?api_key_fetch={{api_key_fetch}}'

        document.getElementById('categories_list').innerHTML = ""

        fetch(url)
            .then((response) => response.json())
            .then(function (data) {
                let count = 1;

                for (let cat of data) {
                    var cat_item = `

                    <div class="line">

                        <div class="category_name"  >
                
                            <span id=count_${count}>${count})</span> 
                            <span id=${cat.category} name=${cat.category}>${cat.category}</span>
                
                        </div>
              
                        <div class='actions'>
                            <button id=edit_${cat.category}_btn  >Edit</button>           
                                
                            <button id=delete_${cat.category}_btn>Delete</button>
                
                        </div>
        
                    </div>`

                    
                    document.getElementById('categories_list').insertAdjacentHTML('beforeend', cat_item)
                    count += 1;

                    let edit_btn = document.getElementById(`edit_${cat.category}_btn`);

                    edit_btn.addEventListener('click', function(){

                        EditToSave( `${cat.category}`,`edit_${cat.category}_btn` )

                    })

                    

                }

            })

    }










</script>

{% endblock%}