{% extends 'base.html'%}


{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static '1_register.css'%}">


<div class="register-wrapper"> 
    
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <legend> Registration</legend>
        
        <div class="name_surname">
        <div class='tooltip_div'>
            <label for="name">Name</label>
            <input id='name' 
                class="line" 
                type="text" 
                name="name" 
                >
                <span id='name_tooltip' class="tooltiptext">Enter your name</span>
        </div>
        </div>

        <div class="name_surname">
        <div class='tooltip_div'>
            <label for="surname">Surname</label>
            <input id='surname' 
                class="line" 
                type="text" 
                name="surname" 
                 >
                <span id='surname_tooltip' class="tooltiptext">Enter your surname</span>
        </div>
        </div>


        <div class='tooltip_div'>
            <label for="email">Email</label>
            <input id='email' 
                class="line" 
                type="text" 
                name="email" 
                >
                <span id='email_tooltip' class="tooltiptext"></span>
        </div>

        <div class="tooltip_div">
            <label for="password1">Password</label>
            <input id ='password1'
               class="line" 
               type='password' 
               name="password1" 
               >           
               <span id='password1_tooltip'class="tooltiptext"></span>
        </div>
        
    

        <div class="tooltip_div">
            <label for="password2">Confirm password</label>
            <input id="password2"
               class="line" 
               type='password' 
               name="password2" 
              >
               <span id='password2_tooltip'class="tooltiptext"></span>
        </div>
        

        <button id="button" type="submit" disabled="disabled">Register</button>
    </form>

    
    
    



</div>
<script type="text/javascript">
    var gate =[0,0,0,0,0]

    const success_color = "C0F950"
    const error_color = "FF969A"
    const original_color = "E8EEEf"
    
    let button = document.getElementById('button');
    
    let name = document.getElementById('name');
    let name_tooltip = document.getElementById('name_tooltip');
    
    let surname = document.getElementById('surname');
    let surname_tooltip = document.getElementById('surname_tooltip');

    let email = document.getElementById('email');
    let email_tooltip = document.getElementById('email_tooltip'); 

    let password1 = document.getElementById('password1');
    let password1_tooltip = document.getElementById('password1_tooltip');
    
    let password2 = document.getElementById('password2');
    let password2_tooltip = document.getElementById('password2_tooltip');
    let api_key_fetch = '{{api_key_fetch}}'
  


    /////////////////////////////////////////////////////////
    async function NameSurnameControl(element, tp, index){
        if(element.value==""){
            element.style.backgroundColor = error_color
            tp.style.visibility='visible'
            gate[index]=0;
        }

        else{
            tp.style.visibility='hidden'
            element.style.backgroundColor = success_color;
            gate[index]=1;
        }
        ButtonControl();
    }

    name.addEventListener('input', function(){
        NameSurnameControl(name, name_tooltip,0)
    })
    

    surname.addEventListener('input', function(){
        NameSurnameControl(surname, surname_tooltip,1)
    })

    ///////////////////////////////////////////////////////////


    email.addEventListener('input', function(){
        EmailControl();
    })


    password1.addEventListener('input', function(){
        Password1Control();
    })

    password2.addEventListener('input',function(){
        Password2Control();
    })
    
    /////////////////////////////////////////////////////////////
    async function ButtonControl(){
        let sum = 0;
        gate.forEach( element=>{
            sum+=element

        })

        if(sum==5){
            button.disabled = false;
        }
        else{
            button.disabled = true;
        }

    }


    ////////////////////////////////////////////////////////////
    async function EmailControl(){
        let email_value = document.getElementById("email").value;
        let url = "{% url 'email_control_fetch'%}"  
        
        let body = {
            'email':email_value,
            'api_key_fetch':'{{api_key_fetch}}'

        };
        
      
        
        fetch(url, 
            {
                method:'POST',
                headers:{'Content-type':'application/json','Accept': 'application/json'},
                body: JSON.stringify(body)
            }
        )

        .then((response)=>{
        
            return response.json()})

        .then( function(data){
            
            if(data.message!="OK"){

                email.style.backgroundColor = error_color;
                email_tooltip.innerHTML = data.message;
                email_tooltip.style.visibility = 'visible';
                gate[2]=0;
            }

            else{
                email.style.backgroundColor = success_color;
                email_tooltip.style.visibility = 'hidden';
                gate[2]=1;
            }
            ButtonControl();
            
        })

    }



    function Password1Control(){
        
        let password1_value = document.getElementById('password1').value;
        let url ="{% url 'password1_control_fetch' %}";
       

        let body = {
            'password1':password1_value,
            'api_key_fetch':api_key_fetch

        };

        fetch(url,
            {
                method:'POST',
                headers:{'Content-type':'application/json','Accept': 'application/json'},
                body: JSON.stringify(body)
            }
        )
        
        .then((response)=>response.json())
        .then( function(data){
            
            if(data.message!="OK"){
                password1_tooltip.innerHTML = ""
                count=1
                for(let m of data.message){
                    password1_tooltip.innerHTML += `${count}) ${m} </br>` 
                }
                password1_tooltip.style.visibility='visible'
                password1.style.backgroundColor=error_color
                gate[3]=0;
            }
            else{
                password1_tooltip.style.visibility="hidden"
                password1.style.backgroundColor=success_color
                gate[3]=1;
            }
            ButtonControl();
        })
    }


    async function Password2Control(){
    
        let url = "{% url 'password2_control_fetch' %}"

        let body = {
            'password1':password1.value,
            'password2':password2.value,
            'api_key_fetch':api_key_fetch

        };

        fetch(url,
            {
                method:'POST',
                headers:{'Content-type':'application/json','Accept': 'application/json'},
                body: JSON.stringify(body)
            }
        )
        .then((response)=>response.json())
        .then( function(data){
           
            if(data.message!="OK"){
                password2_tooltip.innerHTML = data.message
                password2_tooltip.style.visibility = 'visible'
                password2.style.backgroundColor=error_color;
                gate[4]=0;
            }

            else{
                
                password2_tooltip.style.visibility = 'hidden'
                password2.style.backgroundColor=success_color;
                gate[4]=1;
                
            }
            ButtonControl();
    })
    
}
    

</script>


{% endblock %}