<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Random Apps</title>
    <link rel="icon" href="{% static 'media/images/site_logo.png' %}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main_css/base.css' %}" type="text/css" />

</head>
<body>

    

    <div class="site-wrapper">
        {% include 'header.html' %}
        {% include 'sidebar.html' %}
        
        <!-- This content is always different -->
        
        <div class="content-wrapper">
            <link rel="stylesheet" href="{% static 'css/main_css/content_wrapper.css' %}" type="text/css">
            
            {% block content%}
            {% endblock %}
        </div>
        
        {% include 'footer.html'%}
        
        
    </div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>