{% extends "base.html" %}



{% block content%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/main_css/main.css' %}" type="text/css" />


<div class="welcome-message" >
    <p>Hello! </p >
    
    <p>My name is Nursultan Shokobalinov. I am a former Physics teacher.</br>
    
    Right now I am learning various tools in order to become a Sofware Developer
    with a backend concentration.</p>
    
    <p>Welcome to my small Heroku hosted website, where hopefully I will place </br>     
    unrelated to each other apps I made during my learning journey.</p>
    
    <p>
        This website is implemented with the following:</br>
        a) Backend: Python Django </br>
        b) Frontend: Simple HTML, CSS, JavaScript, Fetch API + DRF (no SPA at this time) <br>
        c) DataBase: PostgreSQL: Heroku provided limited version, up to 20 concurrent connections</br>

    </p>
    
    <div> 
    <p>
        If you want to report some issue or a bug related to the BACKEND functionality, please leave a message.
    </p>
    
    </div>
    

    


</div>



{% endblock %}