.register-wrapper{
    max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: auto 10px;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}


.register-wrapper button[type="submit"]{
    position: relative;
	display: block;
	padding: 10px 10px 10px 10px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
    border-radius: 10px;
    
}

.register-wrapper .line{
    font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;

}


.tooltip_div .tooltiptext{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    
    background-color:cornsilk;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    border: 1px solid;
    border-color:black;
    
}



.tooltip_div .tooltiptext::after{
    content: " ";
    position: absolute;
    
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:transparent black transparent transparent;
    
}